body{

    background-color: white;


}

.container-title{

    background-color: lightslategray;
    color: white;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px grey
}


.container-alumnes{

    background-color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px grey;

}

.container-alumnes ul li{

    font-style: italic;     
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 5px grey;
    color: white;

    
}

.container-form input::placeholder {
    color: white;
}

.container-table {
    width: 100%;
}

nav a{

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 5px grey;
    text-align: center;
    color: white;
 
}

nav a:hover{
    
        background-color: lightgreen;
        color: darkblue;
        box-shadow: 5px 5px 5px 5px grey;
}

nav{
    text-align: center;
}

.container-form {
    
        background-color: lightslategray;
        text-align: center;
        margin: 0 auto;
        width: 50%;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px 5px grey;
        color: white;

}

.container-form input{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 5px grey;
    color: white;

}

.container-form  .btn-primary{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightslategray;
    box-shadow: 5px 5px 5px 5px grey;
    color: white;
}

.container-form  .btn-primary:hover{
    background-color: aquamarine;
    color: darkblue;
    box-shadow: 5px 5px 5px 5px grey;
}


.container-form label{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
   
}   
